<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="container mt-4">
    <div class="row justify-content-center">
    <div class="col-md-8 col-lg-5">
    <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <h2>Add New Listing</h2>
           <div  class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input placeholder="enter title" name = "listing[title]" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>

            <div  class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea placeholder="enter description" name="listing[description]" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
        
            <div  class="mb-3">
                <label for="price" class="form-label">Price</label>      
                <input  placeholder="price" name="listing[price]" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            
            <div  class="mb-3">
                <label for="image" class="form-label">upload Image</label>    
                <input type="file" placeholder="image url" name="listing[image]" class="form-control" required>
                
            </div>
         <div  class="mb-3">
            <label for="location" class="form-label">Location</label>    
            <input text="text" placeholder="location" name="listing[location]"  class="form-control" required>
            <div class="valid-feedback">
                    Looks good!
            </div>
            <div class="invalid-feedback">
                    Please select a valid state.
                </div>
         </div>
          <div  class="mb-3">
            <label for="country" class="form-label">Country</label>    
            <input text="text" placeholder="country" name="listing[country]"   class="form-control" required>
            <div class="valid-feedback">
                    Looks good!
            </div>
            <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
       
     <br><br>
        <button class="btn btn-dark">submit</button>
         <br><br>
 

    </form>
    </div>
    </div>
</div>
   
    
      
    
</body>
