<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="container mt-4">
    <div class="row justify-content-center">
    <div class="col-md-8 col-lg-5">
    <form  action="/signup" method="post" class="needs-validation" novalidate>
        <div  class="mb-3">
            <h3>SignUp</h3>
                <label for="username" class="form-label">username</label>
                <input placeholder="username" name = "username" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
        </div>
        <div  class="mb-3">
                <label for="email" class="form-label">email</label>
                <input placeholder="email" name = "email" type="email" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
        </div>
        <div  class="mb-3">
                <label for="password" class="form-label">passport</label>
                <input placeholder="password" name = "password" type="password" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
        </div>
        <button class="btn btn-dark">SignUp</button>

    </form>
    </div>
    </div>
    </div>

</body>
